//
// User
// --------------------------------------------------


#user-page{
    background: none;
    header{
        .hd-wrap{
            padding: 10px 0;
            background: url('@{bgLinePath}') 0 bottom no-repeat;
        }
    }

    .main{
        .inner-wrap{
            padding-top: 20px;
            border: none;
            background: @mainBackground;
        }
    }

    .uc-form{
        min-height: 500px;
        _height: 500px;
        color: @gray;
        background: url('@{bgUcenterPath}') right bottom no-repeat;

        .fl{
            width: 55%;
            padding-left: 5%;
            border-right: @border;

            .other-login{
                margin-top: 40px;
                margin-left: 75px;
            }
        }
        .fr{
            width: 35%;
            .other-login{
                margin-bottom: 40px;
                a{
                    margin-bottom: 10px;
                    img{
                        margin-right: 5px;
                    }
                }
            }
        }
        .tit{
            line-height: 30px;
            margin-bottom: 30px;
            color: @grayDark;
        }

        .other-login{
            .other-hd{
                font-size: @baseFontSize;
                font-weight: 400;
            }
            .other-bd{
                a{
                    margin-right: 5px;
                }
            }
        }
        .sub-btn{
            margin-top: 5px;
            .btn-green{
                color: @white;
                text-decoration: none;
                font-weight: 400;
            }
        }

        .inbox{
            margin: 0 5%;

            .tit{
                margin-bottom: 10px;
            }
            .avatar{
                .square(120px);
                padding: 3%;
                border: none;
                img{
                    border: @border;
                }
                
            }
            .improve{
                width: 78%;
            }
        }
        .email{
            img{
                border: none!important;
            }
            .improve{
                margin-top: 30px;
            }
        }
    }
}