@media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait){
	.inner-wrap, .hd-wrap, .nav-bd,.sub-nav{
	    width: 100%;
	}
	.main {
    	.inner-wrap{
	        .content{
	            width: auto;
	            min-height: 500px;
	            _height: 500px;
	            margin-right: 0;
	            border-left: none;
	            border-right: none;
	        }
	        .right-aside{
	        	display: none;
	        }
      	}
	}

	header {
		position: relative;
		.hd-wrap{
			.search{display: none;}
		}
	}

	footer{
		.footer-wrap{
			width: auto;
			padding: 20px 10px;
			overflow: hidden;
		}
		li{
			width: 16%;
		}
		li.about-us{
			padding-left: 0;
		}
		.hold-logo{
			display: none;
		}
	}

	.content .hot-banner {
		float: none;
		width: auto;
		margin-left: 510px;
	}

	.hot-banner-list li a .tit{
		width: 65%;
	}
	.sub-nav .sub-cate{
		top: 15px;
	}
	.feed-item .total img {
		display: block;
		max-width: 96%;
	}
	
	#detail-page {
		.feed-detail .item-intro img {
			max-width: 98%;
		}
		.comment-form {
			input{
				float: none;
			}
			textarea{
				width: 98%;
			}
		}
	}
	#user-page .uc-form{
		.fl {width: 65%;padding-left: 2%;}
		.fr {width: 30%;}
	}
	#mall-page {
		.mall-nav{
			height: 50px;
			.nav-cat{
				float: none;
				text-align: right;
				margin-top: 35px;
			}
		}
		.mall-intro{
			.fr{float: none;}
		}
		.mall-item .item-bd {
			width: 110%;
			li{margin-right: 10%;}
		}
	}
	.recom-list {
		width: 105%;
		li{
			width: 21.5%;
			margin-right: 3%;
			.recom-pic{
				width: 100%;
				height: auto;
				img {
					width: 100%;
					height: auto;
				}
			}
		}
	}
	.mix-list li .pic{
		width: 12%;
	}
	.i-right{width: 66%;padding: 10px 2%;}
}

/*@media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape){

}

@media all and (min-width: 768px) and (max-width: 1000px){
	
}*/